pki mail.{{ domain }} cert "/etc/ssl/{{ domain }}.fullchain.pem"
pki mail.{{ domain }} key "/etc/ssl/private/{{ domain }}.key"

listen on lo0
listen on lo0 port {{ dkim_relay_port }} tag DKIM
{% if private_interface is defined %}
listen on {{ private_interface }} tls pki mail.{{ domain }}
{% endif %}
listen on egress inet4 tls pki mail.{{ domain }}
listen on egress inet4 mask-src port 587 tls-require pki mail.{{ domain }} auth

table aliases db:/etc/mail/aliases.db

action dovecot lmtp "/var/dovecot/lmtp" alias <aliases>
action add_dkim relay host smtp://127.0.0.1:{{ dkim_listen_port }}
action "relay" relay src {{ ip }} helo mail.{{ domain }}

match from local for local action dovecot
match from any for domain {{ domain }} action dovecot
match tag DKIM for any action "relay"
match from local for any action add_dkim
match auth from any for any action add_dkim
{% if private_interface is defined %}
match from src {{ private_cidr }} for any action add_dkim
{% endif %}
