table <httpd>   { 127.0.0.1 }
table <matrix>  { 127.0.0.1 }
table <znc>     { 127.0.0.1 }

log connection

http protocol "http" {
  tcp { sack, nodelay, backlog 128 }
  tls { no session tickets }

  match header log "Host"

  match request header append "X-Forwarded-For"   value "$REMOTE_ADDR"
  match request header append "X-Forwarded-By"    value "$SERVER_ADDR:$SERVER_PORT"
  match request header set "X-Forwarded-Proto" value "https"
  match header set "Keep-Alive"        value "$TIMEOUT"

  match response header set "Strict-Transport-Security" value "max-age=31536000; includeSubDomains; preload"

  block
  pass request quick header "Host" value "{{ domain }}"        forward to <httpd>
  pass request quick header "Host" value "www.{{ domain }}"    forward to <httpd>
  pass request quick header "Host" value "ttrss.{{ domain }}"  forward to <httpd>
  pass request quick header "Host" value "matrix.{{ domain }}" forward to <matrix>
  pass request quick header "Host" value "znc.{{ domain }}"    forward to <znc>
}

relay "www" {
  listen on 127.0.0.1 port {{ relayd_https_port }} tls
  listen on ::1       port {{ relayd_https_port }} tls
  protocol "http"
  forward to <httpd>   port {{ httpd_secure_port }}
  forward to <matrix>  port {{ synapse_client_port }}
  forward to <znc>     port {{ znc_web_port }}
  # sadly, prosody's http server doesnt work with relayd - returns 400/malformed
}
