user www;
worker_processes {{ ansible_processor_cores }};

worker_rlimit_nofile {{ nginx_nofile }};
events {
  worker_connections {{ nginx_worker_connections }};
}

http {
  include       mime.types;
  default_type  application/octet-stream;
  index         index.html index.htm;

  access_log /var/www/logs/access.log;
  error_log  /var/www/logs/error.log;

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;
  server_tokens off;
  client_max_body_size 5m;
  gzip on;
  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;
  ssl_session_tickets off;
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers {{ nginx_ssl_ciphers }};
  ssl_prefer_server_ciphers on;

  add_header Strict-Transport-Security "max-age=63072000;" always;

  ssl_certificate /etc/ssl/{{ domain }}.fullchain.pem;
  ssl_certificate_key /etc/ssl/private/{{ domain }}.key;
  ssl_trusted_certificate /etc/ssl/{{ domain }}.fullchain.pem;
  ssl_stapling_file /etc/ssl/{{ domain }}.der;

  root /nonexistent;

  include sites/*;
}
