listen on "/var/run/ldapi"
listen on "/var/www/run/ldapi"
listen on lo0 secure

schema "/etc/ldap/core.schema"
schema "/etc/ldap/inetorgperson.schema"
schema "/etc/ldap/nis.schema"
schema "/etc/ldap/dank.schema"
schema "/etc/ldap/openssh-lpk.schema"

namespace "{{ basedn }}" {
  rootdn "{{ ldap_rootdn }}"
  rootpw "{CRYPT}{{ lookup('pipe', 'encrypt -b a ' + ldap_rootpw|quote ) }}"

  {% for i in ldap_indexes %}
  index {{ i }}
  {% endfor %}

  deny
  allow read access to subtree "{{ basedn }}"
  allow bind access to children of "ou=users,{{ basedn }}"
  deny to any attribute userPassword

  {% for user in ldap_admins %}
  allow to any by "uid={{ user }},ou=users,{{ basedn }}"
  {% endfor %}
}
