[ttrss]

user = _ttrss
group = _ttrss
listen = {{ ttrss_fpm_sock }}

listen.owner = www
listen.group = www
;listen.mode = 0660

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

chroot = /var/www
chdir = /htdocs/ttrss

php_admin_value[open_basedir] = /htdocs/ttrss/;/tmp/.s.PGSQL.5432
php_admin_value[session.name] = TTRSS
php_admin_value[session.save_path] = /cache/ttrss/session
php_admin_value[upload_tmp_dir] = /cache/ttrss/upload
php_admin_value[allow_url_fopen] = On
