server {{ domain }} {
  listen on * port 80
  root "/nonexistent"

  include "/etc/httpd.d/acme.conf"

  location "/.well-known/*" {
    block return 301 "https://{{ domain }}$REQUEST_URI"
  }

  location * {
    block return 301 "https://www.{{ domain }}$REQUEST_URI"
  }
}

server {{ domain }} {
  include "/etc/httpd.d/https.conf"
  root "/nonexistent"

  location "/.well-known/caldav" {
    block return 301 "https://dav.{{ domain }}/caldav.php/.well-known/caldav"
  }

  location "/.well-known/carddav" {
    block return 301 "https://dav.{{ domain }}/caldav.php/.well-known/carddav"
  }

  location "/.well-known/*" {
    root "/htdocs/well-known"
    request strip 1
  }

  location * {
    block return 301 "https://www.{{ domain }}$REQUEST_URI"
  }
}

server www.{{ domain }} {
  include "/etc/httpd.d/http.conf"
  root "/nonexistent"
}

server www.{{ domain }} {
  include "/etc/httpd.d/https.conf"
  root "/htdocs/www"

  location "/rss/" {
    directory index "index.rss"
  }
}
